
{% extends 'BBproj/base.html' %}

{% block sidebar %}
<ul class="sidebar-menu">
                        <li class="treeview-menu" style="display:block" class="active">
                            <a href="/timestamp/">
                                <i class="fa fa-bar-chart-o"></i>
                                <span>Attendance</span>
                            </a>

                        </li>
                        <li class="treeview-menu" style="display:block" class="active">
                            <a href="/assignwork/">
                                <i class="fa fa-bar-chart-o"></i>
                                <span>Assign Work</span>
                            </a>

                        </li>
                        <li class="treeview-menu" style="display:block" class="active">
                            <a href="/work/">
                                <i class="fa fa-bar-chart-o"></i>
                                <span>Assigned work</span>
                            </a>

                        </li>
                        <li class="treeview-menu" style="display:block" class="active">
                            <a href="/loggout/">
                                <i class="fa fa-bar-chart-o"></i>
                                <span>Log out</span>
                            </a>

                        </li>
                        <!--<li class="treeview">-->
                            <!--<a href="#">-->
                                <!--<i class="fa fa-laptop"></i>-->
                                <!--&lt;!&ndash;<span>Projects</span>&ndash;&gt;-->
                                <!--<i class="fa fa-angle-left pull-right"></i>-->
                            <!--</a>-->
                            <!--<ul class="treeview-menu">-->
                                <!--<li><a href="/assignwork/"><i class="fa fa-angle-double-right"></i>Assign work</a></li>-->
                                <!--<li><a href="/assignwork/"><i class="fa fa-angle-double-right"></i>See the assigned work</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    </ul>


{% endblock %}