
{% extends 'BBproj/admin.html' %}
{% load staticfiles %}
{% block stylecontent %}
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script>
    tinymce.init({
    selector: '#text'
  });

</script>
<style>
#mceu_11
{
  visibility:initial;
}
 #contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    /*width: 100%;*/
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }

/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input {
    /*position: relative;*/
    z-index: 100;
}

</style>
{% endblock %}
{% block content %}

                                        <!--<div class="form">-->





<div class="">
                <!-- Form Area -->
                <div class="">
                    <!-- Form -->
                    <form id="" method="post" action="/work/">{% csrf_token %}
                        <!-- Left Inputs -->
                        <div class="col-sm-6 " data-wow-delay=".5s">
                          <div class="row">
                            <div class="form-group" style="margin-top:40px;">
                              <label  class="col-sm-2" style="margin-top:10px;" for="User">User/Users</label> 
                              <select  name="userr" id="User" class="selectpicker col-sm-10" multiple style="width:300px; z-index:10000;position: relative; display:inline; padding:0px;">
                                 {% for userr in users %}
                                    <option style="z-index:20" value="{{ userr.username }}">{{ userr.username }}</option>
                                  {% endfor %}
                              </select>
                            </div>
                          </div>
                            <!-- <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" /> -->
                          
                            <div class="form-group" style="margin-top:40px;">
                              <div class="row">
                              <label  class="col-sm-3" style="margin-top:10px;" for="subject">Subject</label> 
                              <input type="text" name="Subject" id="subject" required="required" class="form col-sm-9" placeholder="Subject" />
                            </div>
                            </div>
                            <textarea  id="text" name="subwork" class="form textarea"  placeholder="Message"  style="position:absolute; ">Enter the Work You want to assign</textarea>
                            <div class="form-group" style="margin-top:40px;">
                              <label  class="col-sm-2" style="margin-top:10px;" for="User">Deadine</label> 
                              <input type="text" id="datetimepicker7" name="deadline" class="input-xlarge form-control form" style="width:225px;" >
                            
                            </div>
                        </div>
              
                                          
                                                    
                        <div class="relative fullwidth col-xs-12">
                            
                            <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button> 
                        </div>
                        <div class="clear"></div>
                    </form>

                    
                    
                </div>
            </div>



{% endblock %}
